:root {
  --heading: 2.5rem;
  --subtext: 1.5rem;
  --height: 15rem;
  --padding: 5% 0;
  --headingColor: white;
  --subColor: black;
  --subBg: white;
  --navBg: black;
  --navColor: white;
  --dropShadow: drop-shadow(0 0 0.75rem black);
  --bgc: black;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

nav {
  display: flex;
  gap: 1rem;
  position: sticky;
  top: 0;
  padding: 0.5rem;
  min-height: 20px;
  background-color: var(--navBg);
  color: white;
  filter: var(--dropShadow);
}

nav > a {
  all: unset;
  padding: 0 0.2rem;
  text-transform: capitalize;
  color: var(--navColor);
  cursor: pointer;
}

nav > a:hover,
nav > a:focus {
  background-color: var(--navColor);
  color: var(--navBg);
}

h2 {
  font-size: var(--heading);
  color: var(--headingColor);
  margin: 0.75rem;
  text-shadow: 1px 1px #000000;
  user-select: none;
  cursor: default;
}

.subtext {
  font-size: var(--subtext);
  color: var(--subColor);
  padding: 0.2rem 0;
  margin: 0;
  text-align: center;
  background-color: var(--subBg);
}

.card,
.scrim {
  min-height: var(--height);
}

.card {
  background-size: 100%;
  outline: 0.1rem solid black;
}

.scrim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: relative;
  width: 100%;
  box-shadow: inset 0 0 2rem #000000;
}

.insert > * {
  height: 20rem;
  width: 100%;
}
