:root {
  --bgc: black;
  --font: white;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body,
.container {
  height: 100%;
}

body {
  background-color: var(--bgc);
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

main > section {
  padding: 1rem;
}

article {
  border-radius: 0.2rem;
}

form,
article,
header {
  padding: 0.5rem;
  background-color: #fff;
}

header {
  font-size: large;
}

article {
  margin-bottom: 0.5rem;
}

form > button {
  background-color: var(--bgc);
  color: var(--font);
  border: none;
  padding: 0.3rem 1.5rem;
}

form > button:hover,
#nav-menu:hover {
  cursor: pointer;
  opacity: 0.85;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 0.75rem;
}

form > div > input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

form > div > textarea {
  resize: none;
}

#brand-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: calc(10rem + 15vw);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.29854368932038833) 50%,
      rgba(255, 255, 255, 0) 72%
    ),
    url("img/headerimg.JPG");
  background-position: center;
  background-size: cover;
  background-color: var(--bg);
}

#brand-container > div {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.2rem 1rem;
  color: var(--font);
}

#main-content {
  margin: 0 5vw;
}

#nav-menu {
  text-align: center;
  font-family: monospace;
  user-select: none;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}
