:root {
  --bgc: black;
  --trans: hsla(0, 0%, 0%, 0.7);
  --font: white;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body,
.container {
  height: 100%;
}

body {
  background-color: var(--bgc);
}

h1,
h2 {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

main > section {
  padding: 1rem;
}

article {
  border-radius: 0.2rem;
}

form,
article {
  padding: 0.5rem;
  background-color: #fff;
  color: black;
}

header {
  background-color: var(--trans);
  color: var(--font);
  padding: 0.5rem;
  font-size: large;
}

article {
  margin-bottom: 0.5rem;
}

form > button,
.dark-button {
  background-color: var(--bgc);
  color: var(--font);
  border: none;
  padding: 0.3rem 1.5rem;
}

form > button:hover,
.dark-button:hover {
  cursor: pointer;
  opacity: 0.85;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 0.75rem;
}

form > div > input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

form > div > textarea {
  resize: none;
}

#brand-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: calc(10rem + 15vw);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.29854368932038833) 50%,
      rgba(255, 255, 255, 0) 72%
    ),
    url("img/headerimg.JPG");
  background-position: center;
  background-size: cover;
  background-color: var(--bgc);
}

#brand-container > div {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.2rem 1rem;
  color: var(--font);
}

#main-content {
  margin: 0 5vw;
}

#nav-menu,
#nav-button {
  width: 10rem;
}

#nav-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0 0.5rem 0;
  list-style-type: none;
  position: absolute;
  top: 40px;
  z-index: 2;
  background-color: var(--bgc);
  color: var(--font);
}

#nav-menu a {
  color: var(--font);
}

#faq-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.set {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.set > button {
  font-size: medium;
  padding: 0.4rem;
  width: 100%;
  border: none;
  cursor: pointer;
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px dashed black;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.flex-even {
  display: flex;
  justify-content: space-evenly;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.display-none {
  display: none !important;
}
